node_modules
dist
build
.next
.turbo
.cache
coverage
*.log
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo
pnpm-lock.yaml.bak
*.rar
*.zip
*.7z
uploads/
data/
postgres-data/
redis-data/
